@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,200;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Nav bar */

.nav-bar {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
}

.nav-bar h2 {
  font-size: 40px;
}

.nav-bag {
  display: flex;
  align-items: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

/* Not found code */

.not-found {
  background-image: url("/src/images/notFoundbg_image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* product styles */

.product {
  display: flex;
  justify-content: space-evenly;
}

.product .card {
  width: 15rem;
  margin: 1rem;
  padding: 0.5rem;
  height: auto;
}

.product .product-name {
  height: 30px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 800;
}

.product .prod-desc {
  height: 50px;
  font-size: 15px;
}

.product .card img {
  width: 100%;
  height: 70%;
}

/* cart card */

.cart-card {
  display: flex;
  border: 1px solid yellowgreen;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.cart-card img {
  width: 6rem;
  height: 6rem;
}

.cart-card .card-body {
  margin-left: 2rem;
}

.cart-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  margin-right: 2rem;
}

.cart-action-container button,
.cart-action-container input {
  height: 100% !important;
  border: 1px solid rgb(149, 146, 146);
}

.cart-card .cart-item-count {
  width: 60px;
  color: rgb(93, 48, 217);
  height: 2.3rem;
  text-align: center;
}
